@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a{
   text-decoration: none;
   color: #464646
} 

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    

}

.max-width-content{
    max-width: 849px;
    margin: 0 auto;
}

.color-white{
    color: #fff;
}

.color-gray{
    color: #919191;
}

.bg-white{
    background-color: #fff;
}

.top_header{
    border-bottom: 0.5px solid rgba(66, 66, 66, 0.2);
}

.botton_header{
    height: 84px;
}
.bar_nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar_nav_iten{
    width: 127px;
    height: 80px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar_nav_iten_1{
    border-bottom-left-radius: 4px;
    border-bottom: solid 6px #919191;
}

.bar_nav_iten_2{
    border-bottom: solid 6px #E3350D;
}

.bar_nav_iten_3{
    border-bottom: solid 6px #EE6B2F;
}

.bar_nav_iten_4{
    border-bottom: solid 6px #E6BC2F;
}

.bar_nav_iten_5{
    border-bottom: solid 6px #4DAD5B;
}

.bar_nav_iten_6{
    border-bottom: solid 6px #30A7D7;
}

.bar_nav_iten_7{
    border-bottom-right-radius: 4px;
    border-bottom: solid 6px #1B53BA;
}

.botton_card{
    padding-left: 10px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.img_card{
    background-color: #F2F2F2;
    padding: 10px;
}

.number_card{
    font-size: 12px;
    font-weight: 700;
    color: #919191;
}

.name_card{
    font-size: 18px;
    font-weight: 500;
    color: #313131;
}

.power_card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.power_grass{
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 400;
    color: #000;
    background-color: #9BCC50;
    height: 18px;
    width: 92px;
    text-align: center;
}

.power_poison{
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #B97FC9;
    height: 18px;
    width: 92px;
    text-align: center;
}

.pokemons_line{
    padding-bottom: 14px;
    padding-top: 26px;
    display: flex;
    justify-content: space-around;
}

.power_fire{
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #FD7D24;
    height: 18px;
    width: 92px;
    text-align: center;
}

.power_flying{
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 400;
    color: #000;
    background: linear-gradient(180deg, #3DC7EF 51.55%, #BDB9B8 51.56%);
    height: 18px;
    width: 92px;
    text-align: center;
}